* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(36, 61, 37, 1) 0%,
    rgba(95, 116, 100, 1) 100%
  );
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}

.title-text {
  width: 50%;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-text h1 {
  font-size: 3rem;
  font-family: serif;
  margin: 10px;
  color: whitesmoke;
}

.title-text p {
  font-size: 1.3rem;
  font-family: sans-serif;
  color: lightgray;
}

.title-text p:nth-child(3) {
  color: gray;
  font-size: 1.1rem;
}

.title-image {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title-image img {
  width: 40%;
  border-radius: 20px;
  border: 2px solid lightgray;
}

.title-image a {
  color: lightgray;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.recipe {
  display: flex;
  flex-direction: row;
}

.recipe div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe div h2 {
  color: whitesmoke;
  font-family: serif;
  font-size: 2rem;
  margin: 30px;
}

.recipe div ul li,
.recipe div ol li {
  color: lightgray;
  font-family: sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

footer {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: auto;
  padding: 30px 0;
  text-align: center;
  color: whitesmoke;
  font-family: monospace;
  font-size: 1.1rem;
}

footer a {
  color: whitesmoke;
  text-decoration: none;
}

@media (max-width: 950px) {
  .title {
    flex-direction: column;
  }

  .title-text {
    width: 100%;
    padding: 0;
  }

  .title-text h1 {
    font-size: 2.5rem;
  }

  .title-text p {
    font-size: 1.2rem;
    margin: 20px 0 50px 0;
  }

  .title-image {
    width: 100%;
  }

  .title-image img {
    width: 80%;
  }

  .recipe {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recipe div {
    width: 100%;
    width: 70%;
    margin: 20px 0;
  }

  .recipe div h2 {
    font-size: 1.9rem;
  }

  .recipe div ul li,
  .recipe div ol li {
    font-size: 1.3rem;
  }

  footer {
    font-size: 0.9rem;
  }
}
